:root {
    --square-light: #F1E1B3;
    --square-dark: #997349;

    --highlight-light: #D7856E;
    --highlight-dark: #C27356;
}

.square-light {
    background-color: var(--square-light);
}

.square-dark {
    background-color: var(--square-dark);
}

.piece {
    z-index: 1;
    filter: drop-shadow(0px 0px 3px #222);
}

.square {
    height: 10%;
    width: 12.5%;
    max-height: 100vmin;
    max-width: 100vmin;

    user-select: none;

    float: left;
    padding: 0;
    margin: auto;

    position: relative;
}

.valid-move {
    z-index: 5;
    display: none;
    position: absolute;
    
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;

    transition: background-color 300ms;
}

.valid-move:hover {
    background-color: rgba(24, 24, 24, 0.4);
    cursor: pointer;
}

#board {
    text-align: center;
    width: 70vmin;
    height: 87vmin;
    margin: auto;

    position: relative
}

canvas {
    z-index: 10;
    position: absolute;
    pointer-events: none;
}

@media (max-width: 768px) {
    #board {
        width: 90vmin;
        height: 107vmin;
    }
}