#modes > div {
    width: 100%;

    max-width: 500px;
    max-height: 530px;
    
    min-width: 320px;
    min-height: 360px;
}

#modes .card { background-color:slategrey; }

@media (max-width: 480px) {
    #buttons-desktop { display: none; }
    #buttons-mobile { display: flex; }
}

@media (min-width: 480px) {
    #buttons-desktop { display: flex; }
    #buttons-mobile { display: none; }
}