@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");

:root {
    --dark-primary: #2A2A2A;
    --dark-secondary: #1A1A1A;

    --soft-green: #87b59a;
}

body {
    background-color: var(--dark-primary);
    font-family: "Secular One", sans-serif;
}

.nav-item {
    transition: all 0.2s;
    border-radius: 10px;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: #c5c5c5;
}

.active {
    color: #c9c8c8 !important;
}
.nav-link {
    color: #99999a;
}
.nav-link:hover {
    color: #797979;
}

@media (min-width: 992px) {
    .navbar-nav {
        float: none;
        margin:0 auto;
        display: block;
        text-align: center;
    }
    
    .navbar-nav > li {
        display: inline-block;
        float: none;
    }
}

@media (max-width: 992px) {
    .nav-item {
        transition: all 0.2s;
    }
    .nav-item:hover {
        background-color: var(--dark-primary);
    }
    
    .nav-link {
        color: white;
        padding-left: 3%;
    }
    .active {
        color: rgb(198, 198, 198) !important;
    }
}

.input-group-text {
    background-color: rgba(0, 0, 0, 0);
}

hr {
    background-color: cornflowerblue;
    height: 2px;
    border: none;
}

div.card {
    background-color: var(--dark-secondary);
}

.limit-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.flex-limit-text {
    display: inline-block;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}