.btn-outline-secondary:hover {
    background-color: rgba(105, 112, 119, 0.3);
}

.settings-button {
    height: 70px;
    width: 100%;
    min-width: 30px;
}

@media (max-width: 590px) {
    .settings-button {
        height: 50px;
    }
}