<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Register - Chess 2</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Language" content="en">
        <meta name="google" content="notranslate">
        <meta charset="utf-8">

        <!-- Bootstrap CDN -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
        
        <!-- Bootstrap Icons CDN -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

        <!-- JQuery CDN -->
        <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>

        <!-- Local Imports -->
        <link href="static/css/main.css" rel="stylesheet">

        <script src="static/javascript/addons.js" alert="{{alert}}"></script>
    </head>
    <body>
        <input type="hidden" name="csrf_token" autocomplete="off" value="{{ csrf_token() }}">
        
        <div class="container">
            <div class="row">
                <div class="mx-auto text-center my-5 d-flex justify-content-center">
                    <img src="/static/assets/logo.png" alt="Logo" width="50" height="50" class="rounded">
                    <h1 class="text-light ms-3">Chess 2</h1>
                </div>
            </div>
            <div class="row" id="header">
                <div class="col-md-6 mx-auto text-center">
                    <h1 class="text-light">Sign Up</h1>
                    <h4 class="text-light">And start bricking PIPIs</h4>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mx-auto text-center">
                    <hr>
                    <div class="input-group border-0 mb-3">
                        <span class="input-group-text"><i class="bi bi-person-fill text-light"></i></span>
                        <input class="form-control shadow-none" placeholder="Username" aria-label="Username" id="username">
                    </div>
                    <p class="text-danger text-start" style="margin-top: -2%; display: none;" id="usernameError"></p>
                    <div class="input-group border-0 mb-3">
                        <span class="input-group-text"><i class="bi bi-envelope-fill text-light"></i></span>
                        <input class="form-control shadow-none" placeholder="Email" aria-label="Email" id="email">
                    </div>
                    <p class="text-danger text-start" style="margin-top: -2%; display: none;" id="emailError"></p>
                    <div class="input-group border-0 mb-3">
                        <span class="input-group-text"><i class="bi bi-lock-fill text-light"></i></span>
                        <input type="password" class="form-control shadow-none" placeholder="Password" aria-label="Password" id="password">
                        <button class="input-group-text" onclick="togglePasswordVisibility(this)" password-input="#password"><i class="bi bi-eye-fill text-light"></i></button>
                        <span class="input-group-text">
                            <span class="tt" data-bs-placement="top" title="Your password must be at least 8 characters long, have both lower and upper case letters and include a number."><i class="bi bi-info-circle-fill text-light"></i></span>
                        </span>
                    </div>
                    <p class="text-danger text-start" style="margin-top: -2%; display: none;" id="passwordError"></p>
                    <button class="btn btn-lg btn-success" id="signup" style="width: 100%; height: 50px;">Sign Up!</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 text-center mx-auto">
                    <hr>
                    <a class="btn btn-primary" href="/google_login" style="width: 100%;">
                        <img class="me-2" src="static/assets/google.png" width="30px" width="30px">
                        Continue with Google
                    </a>
                    <a class="btn text-primary border-0" href="/login" width="30px">
                        <b>Already have an account? Click here to log in!</b>
                    </a>
                </div>
            </div>
        </div>

        <script src="static/javascript/util.js"></script>
        <script src="static/javascript/pages/signup.js"></script>
    </body>
</html>